.footer {
	// border: 1px solid red;
	background: var(--dark-blue);
	padding: 2em 0;
	text-align: center;
	&__logo {
		display: block;
		margin: auto;
		margin-bottom: 2em;
	}
	&__social {
		// border: 1px solid white;
		display: grid;
		grid-template-columns: repeat(5, 25px);
		grid-column-gap: 1em;
		justify-content: center;
		margin: 2.5em 0;
	}
	&__link {
		// border: 1px solid white;
		text-decoration: none;
		display: block;
		margin-bottom: 1em;
		color: var(--light-grayish-blue);
	}
	&__copyright {
		// border: 1px solid red;
		color: var(--grayish-blue);
		margin-top: 2.5em;
	}
}
@mixin icon {
	/* <a>: por defecto no reconoce ancho ni alto pues es una etiqueta inline */
	// border: 1px solid red;
	width: 25px;
	height: 25px;
	display: inline-flex; /* layout: con esto ya reconoce ancho y alto */
	background-repeat: no-repeat;
}
.icon {
	&__facebook {
		@include icon;
		background-image: url('../../static/images/icon-facebook.svg');
	}
	&__youtube {
		@include icon;
		background-image: url('../../static/images/icon-youtube.svg');
	}
	&__twitter {
		@include icon;
		background-image: url('../../static/images/icon-twitter.svg');
	}
	&__pinterest {
		@include icon;
		background-image: url('../../static/images/icon-pinterest.svg');
	}
	&__instagram {
		@include icon;
		background-image: url('../../static/images/icon-instagram.svg');
	}
}

@media screen and (min-width: 1024px) {
	.footer {
		// background: red;
		.wrapper {
			display: grid;
			grid-template-columns: 200px 1fr 400px;
			grid-template-areas:
				'logo links button'
				'social links copyright';
			grid-column-gap: 7em;
		}
		&__logo {
			// border: 1px solid blue;
			grid-area: logo;
			margin: initial;
		}
		&__social {
			// border: 1px solid blue;
			grid-area: social;
		}
		&__links {
			// border: 1px solid blue;
			grid-area: links;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			justify-items: start;
		}
		&__button {
			// border: 1px solid blue;
			grid-area: button;
			text-align: right;
		}
		&__copyright {
			// border: 1px solid blue;
			grid-area: copyright;
			text-align: right;
		}
	}
}

/* inicio minutos 3:26:00 - */
/* fin minutos 4:00:00 - */
