.hero {
	// border: 1px solid purple;
	text-align: center;
	padding-bottom: 5em;
	.copy {
		// border: 1px solid red;
		margin-bottom: 2.5em;
	}
	&__image {
		// border: 1px solid red;
		margin: 0 -1.5em;
		height: 300px;
		background: url('../../static/images/image-mockups.png') center bottom
				no-repeat,
			url('../../static/images/bg-intro-mobile.svg') center no-repeat;
		background-size: 345px, cover;
		margin: 0 -var(--wrapperSpace);
		margin-bottom: 1.2em;
	}
}
