/* .header = elemento de bloque */
.header {
  display: flex;
  /* .header = elemento de linea */
  padding: 1em 1.5em;
  justify-content: space-between;
  /* los elementos esten a los extremos uno del otro */
}

.hero {
  text-align: center;
  padding-bottom: 5em;
}
.hero .copy {
  margin-bottom: 2.5em;
}
.hero__image {
  margin: 0 -1.5em;
  height: 300px;
  background: url("../../static/images/image-mockups.png") center bottom no-repeat, url("../../static/images/bg-intro-mobile.svg") center no-repeat;
  background-size: 345px, cover;
  margin: 0 -var(--wrapperSpace);
  margin-bottom: 1.2em;
}

.navbar {
  width: 40px;
  background: url("../../static/images/icon-hamburger.svg") center no-repeat;
}

.why {
  text-align: center;
  background: var(--light-grayish-blue);
  padding-top: 5em;
  /* espacio con item */
}
.why .copy {
  margin-bottom: 4em;
  font-size: 1em;
}
.why__item .copy {
  margin-bottom: 2em;
}
.why__item img {
  padding-bottom: 1.5em;
}

/* inicio minutos 2:20:00 - */
/* fin minutos 2:52:00 - */
.latestArticles {
  background: var(--very-light-gray);
  padding: 5em 0;
}
.latestArticles .title__h1 {
  text-align: center;
}
.latestArticles__grid {
  display: grid;
  grid-row-gap: 1.5em;
}
.latestArticles__items {
  background: var(--white);
  border-radius: 0.5em;
  overflow: hidden;
  /* la imagen no se sale del contenedor */
}
.latestArticles__items img {
  width: 100%;
  /* se estira la imagen lo cual es malo!!! */
  object-fit: cover;
  /* arregla el estiron de la imagen <- */
  display: block;
}
.latestArticles__items__content {
  padding: 1.8em;
}
.latestArticles__items__content small {
  color: var(--grayish-blue);
  font-size: 0.6em;
  margin-bottom: 1em;
  display: block;
}
.latestArticles__items__content .title__h3 {
  text-align: left;
}
.latestArticles__items__content .copy {
  color: var(--grayish-blue);
}

/* inicio minutos 2:52:00 - */
/* fin minutos 3:26:00 - */
.footer {
  background: var(--dark-blue);
  padding: 2em 0;
  text-align: center;
}
.footer svg {
  display: block;
  margin: auto;
  margin-bottom: 2em;
}
.footer__social {
  display: grid;
  grid-template-columns: repeat(5, 25px);
  grid-column-gap: 1em;
  justify-content: center;
  margin: 2.5em 0;
}
.footer__link {
  text-decoration: none;
  display: block;
  margin-bottom: 1em;
  color: var(--light-grayish-blue);
}
.footer__copyright {
  color: var(--grayish-blue);
  margin-top: 2.5em;
}

.icon__facebook {
  /* <a>: por defecto no reconoce ancho ni alto pues es una etiqueta inline */
  width: 25px;
  height: 25px;
  display: inline-flex;
  /* layout: con esto ya reconoce ancho y alto */
  background-repeat: no-repeat;
  background-image: url("../../static/images/icon-facebook.svg");
}
.icon__youtube {
  /* <a>: por defecto no reconoce ancho ni alto pues es una etiqueta inline */
  width: 25px;
  height: 25px;
  display: inline-flex;
  /* layout: con esto ya reconoce ancho y alto */
  background-repeat: no-repeat;
  background-image: url("../../static/images/icon-youtube.svg");
}
.icon__twitter {
  /* <a>: por defecto no reconoce ancho ni alto pues es una etiqueta inline */
  width: 25px;
  height: 25px;
  display: inline-flex;
  /* layout: con esto ya reconoce ancho y alto */
  background-repeat: no-repeat;
  background-image: url("../../static/images/icon-twitter.svg");
}
.icon__pinterest {
  /* <a>: por defecto no reconoce ancho ni alto pues es una etiqueta inline */
  width: 25px;
  height: 25px;
  display: inline-flex;
  /* layout: con esto ya reconoce ancho y alto */
  background-repeat: no-repeat;
  background-image: url("../../static/images/icon-pinterest.svg");
}
.icon__instagram {
  /* <a>: por defecto no reconoce ancho ni alto pues es una etiqueta inline */
  width: 25px;
  height: 25px;
  display: inline-flex;
  /* layout: con esto ya reconoce ancho y alto */
  background-repeat: no-repeat;
  background-image: url("../../static/images/icon-instagram.svg");
}

/* inicio minutos 3:26:00 - */
/* fin minutos 4:00:00 - */
:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  font-size: 16px;
  --wrapperSpace: 1.5em;
}

body {
  margin: 0px;
  font-family: "Public Sans", sans-serif;
  color: var(--grayish-blue);
}

.wrapper {
  padding: 0 var(--wrapperSpace);
}

.title__h1 {
  margin: 0;
  /* quitando margenes por defecto */
  color: var(--dark-blue);
  font-size: 2.5em;
  font-weight: 300;
  /* que tan negrito - bold */
  line-height: 1.3;
  /* espacio entre letras lado a lado*/
  margin-bottom: 0.5em;
}
.title__h2 {
  margin: 0;
  /* quitando margenes por defecto */
  color: var(--dark-blue);
  font-size: 2.5em;
  font-weight: 300;
  /* que tan negrito - bold */
  line-height: 1.3;
  /* espacio entre letras lado a lado*/
  margin-bottom: 0.5em;
  /* hereda las caracteristicas de __h1 */
  font-size: 1.5em;
}
.title__h3 {
  margin: 0;
  /* quitando margenes por defecto */
  color: var(--dark-blue);
  font-size: 2.5em;
  font-weight: 300;
  /* que tan negrito - bold */
  line-height: 1.3;
  /* espacio entre letras lado a lado*/
  margin-bottom: 0.5em;
  /* hereda las caracteristicas de __h1 */
  font-weight: 400;
  /* que tan negrito - bold */
  font-size: 1em;
}

.copy {
  font-size: 0.9em;
  line-height: 1.7;
  /* espacio entre letras lado a lado*/
}

.button {
  padding: 0.9em 2.2em;
  background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  border-radius: 1.5em;
  color: var(--white);
  font-size: 1em;
  border: none;
}

.is-visible {
  display: none !important;
}

/*# sourceMappingURL=styles.css.map */
